/* Fonts Start */
@font-face {
  font-family: "sfbold";
  src: url(/fonts/sfbold.OTF);
}
@font-face {
  font-family: "sfmed";
  src: url(/fonts/sfmed.OTF);
}
@font-face {
  font-family: "sfreg";
  src: url(/fonts/sfreg.OTF);
}
@font-face {
  font-family: "sfthin";
  src: url(/fonts/sfthin.otf);
}
/* Fonts End */

/* Body Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(/images/macoswp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .6s all ease-in-out;
  overflow: hidden;
}

.main-container {
  width: 1352px;
  height: 750px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  margin: 30px auto;
  transition: 1s all ease-in-out;
}
/* Close Tab Start */
.close-tab {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-left: 29px;
  margin-bottom: 41px;
  transition: 1s all ease-in-out;
}
.close-tab .red-button {
  width: 15px;
  height: 15px;
  background-color: #fd5754;
  border: 1px solid #dd4643;
  border-radius: 50%;
}
.close-tab .yellow-button {
  width: 15px;
  height: 15px;
  background-color: #fdbd42;
  border: 1px solid #e19d3b;
  border-radius: 50%;
}
.close-tab .green-button {
  width: 15px;
  height: 15px;
  background-color: #33c848;
  border: 1px solid #22ad35;
  border-radius: 50%;
}
/* Close Tab End */

.grid-containers {
  display: grid;
  grid-template-columns: 105px 1194px;
  grid-template-rows: 85px 85px 408px 81px;
  gap: 0px 0px;
  grid-template-areas:
    "left-up-home-button center-container"
    "left-up-search-button center-container"
    "left-down-single-art-container center-container"
    "bottom-container bottom-container";
  width: 1324px;
  height: 659px;
  margin-left: 14px;
  overflow: hidden;
  animation: fadeInOut 1.5s forwards;
  
}

.left-up-home-button {
    grid-area: left-up-home-button;
    width: 105px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
    
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  71.43% {
    opacity: 0;
  }
  85.71% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.left-up-home-button .home-button-container a {
  font-size: 23px;
  color: #fff;
  text-decoration: none;
}
.left-up-home-button:hover {
  transition: 0.2s all ease;
  background: rgba(0, 0, 0, 0.35);
  
}
.left-up-search-button {
  grid-area: left-up-search-button;
  width: 105px;
  height: 85px;
  margin-top: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
}
.left-up-search-button:hover {
  transition: 0.2s all ease;
  background: rgba(0, 0, 0, 0.35);
}

.left-up-search-button .search-button-container a {
  font-size: 23px;
  color: #fff;
  text-decoration: none;
}

.left-down-single-art-container {
  grid-area: left-down-single-art-container;
  width: 105px;
  height: 370px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 45px;
}
.left-down-single-art-container:hover {
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.left-down-single-art-container::-webkit-scrollbar {
  display: none;
}
.left-down-single-art-container .art-container {
  width: 68px;
  height: 355px;
  margin-left: 19px;
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.left-down-single-art-container img {
  width: 68px;
  height: 68px;
  border-radius: 10px;
  cursor: pointer;
}



.bottom-container {
  grid-area: bottom-container;
  width: 1324px;
  height: 81px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-container .left-bottom-container {
  width: 441.33px;
  height: 81px;
  display: flex;
}
.bottom-container .left-bottom-container img {
  width: 68px;
  height: 68px;
  border-radius: 10px;
  margin-left: 19px;
  margin-top: 7px;
  cursor: pointer;
}
.bottom-container .left-bottom-container .left-bottom-container-text {
  width: 100px;
  height: 50px;
  margin-left: 14px;
  margin-top: 15px;
}
.bottom-container .left-bottom-container .left-bottom-container-text p {
  color: #fff;
  font-family: "sfmed";
  font-size: 20px;
  margin-bottom: 5px;
}
.bottom-container .left-bottom-container .left-bottom-container-text span {
  color: #fff;
  font-family: "sfthin";
  font-size: 14px;
}

.bottom-container .center-bottom-container {
  width: 441.33px;
  height: 81px;
}
.bottom-container .center-bottom-container .player-container {
  width: 100%;
  height: 40.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
}
.bottom-container .center-bottom-container .player-container .music-button {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.bottom-container .center-bottom-container .player-container .play-button {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}
.bottom-container .center-bottom-container .player-container .play-button:hover,
.bottom-container
  .center-bottom-container
  .player-container
  .music-button:hover {
  color: #000;
  transition: 0.2s all ease;
}
.bottom-container .center-bottom-container .range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40.5px;
  gap: 20px;
}
.bottom-container .center-bottom-container .range-container span {
  font-size: 13px;
  color: #fff;
  font-family: "sfmed";
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 221px;
  height: 7.5px;
  background: #d9d9d9;
  outline: none;
  border-radius: 50px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 110.5px;
  height: 7.5px;
  background: #a7a7a7;
  cursor: pointer;
  float: left;
  border-radius: 50px;
}

.bottom-container .right-bottom-container {
  width: 441.33px;
  height: 81px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.bottom-container .right-bottom-container a {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;

}
.bottom-container .right-bottom-container a i{
    font-weight: 300;
}
.bottom-container .right-bottom-container .full-screen {
  margin-right: 10px;
  font-size: 15px;
}
.slider-volume {
    -webkit-appearance: none;
    appearance: none;
    width: 70px;
    height: 5px;
    background: #ffffff;
    outline: none;
    border-radius: 50px;
  }
  .slider-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 5px;
    background: #a7a7a7;
    cursor: pointer;
    float: left;
    border-radius: 50px;
  }

  .center-container {
    grid-area: center-container;
    width: 1194px;
    height: 568px;
    margin-left: 25px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  .center-container .up-buttons{
    width: 1194px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .center-container .up-buttons .left-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15.53px;
    gap: 15.53px;
  }
  .center-container .up-buttons .left-buttons a{
    width: 36.24px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(164, 164, 164,0.20);
    border: 1px solid rgb(74, 74, 74,0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }

  .center-container .up-buttons .right-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15.53px;
    margin-right: 26px;
  }
  .center-container .up-buttons .right-buttons a{
    width: 36.24px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(164, 164, 164,0.20);
    border: 1px solid rgb(74, 74, 74,0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }
  .center-container .up-buttons .right-buttons img{
    width: 36.24px;
    height: 35px;
    border-radius: 50%;
  }

  .center-container .music-coverart-name{
    height: 150px;
    margin-left: 15.53px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center-container .music-coverart-name img{
    width: 153.33px;
    height: 150px;
    border-radius: 10px;
  }
  .center-container .music-coverart-name .small-durumsuz{
    width: 15.53px;
    height: 15px;
    border-radius: 50%;
  }
  .center-container .music-coverart-name .music-name{
    width: 100%;
    height: 150px;
    margin-left: 15.53px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
  }
  .center-container .music-coverart-name .music-name span{
    font-size: 12px;
    font-family: 'sfmed';
    color: #fff;
  }
  .center-container .music-coverart-name .music-name h1{
    font-size: 50px;
    font-family: 'sfmed';
    color: #fff;
  }
  .center-container .music-coverart-name .music-name .music-name-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .hr-tag{
    width: 1152.58px;
    height: 5px;
    background-color: rgb(0, 0, 0,0.05);
    outline: none;
    border: none;
    margin: 30px auto;
  }

  .center-container .center-info{
    width: 1152.58px;
    height: 170px;
    display: flex;
    flex-direction: column;
    margin-left: 15.53px;
    
  }
  .center-container .center-info .up-info-default{
    width: 1152.58px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  .center-container .center-info .up-info-default .info-default-left{
    width: 684.19px;
    height: 85px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    color: #fff;
    font-family: 'sfmed';
    gap: 50px;
    padding-left: 20px;
  }
  .center-container .center-info .up-info-default .info-default-center{
    width: 184.19px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'sfmed';
    font-size: 17px;
  }
  .center-container .center-info .up-info-default .info-default-right{
    width: 184.19px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
  }
  .center-container .center-info .down-info-real{
    width: 1152.58px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  .center-container .center-info .down-info-real .info-real-left{
    width: 684.19px;
    height: 85px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    color: #fff;
    font-family: 'sfmed';
    gap: 50px;
    padding-left: 20px;
  }
  .center-container .center-info .down-info-real .info-real-center{
    width: 184.19px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #fff;
    font-family: 'sfmed';
  }
  .center-container .center-info .down-info-real .info-real-right{
    width: 184.19px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #fff;
    font-family: 'sfmed';
  }

  .music-company{
    width: 250px;
    height: 87px;
    margin-top: 21px;
    margin-left: 14.5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    flex-direction: column;
    font-family: 'sfthin';
    color: #bcbcbc;
    font-size: 14px;
  }
.tag-name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'sfbold';
    color: #fff;
    margin-top: 30px;
}

.minimal-area .minimal-button{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s all ease-in-out;
  display: none;
}
.minimal-area .minimal-button i{
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}
.minimal-area .minimal-button:hover{
  transition: .6s all ease-in-out;
  background: rgba(0, 0, 0, 0.20);
}
.minimal-area .minimal-button i:hover{
  color:#a7a7a7;
}